body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  background-color: #BA7048;
}

h1 {
  color: #FFFFFF;
  padding: 20px;
}

h2 {
  padding: 0px auto 20px;
}

* {
  box-sizing: border-box;
}

p {
  color: black;
  padding: 20px;
}

